absl-py    
aiohappyeyeballs    
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
asttokens
astunparse
attrs
auto-feature-extraction
beautifulsoup4
blosc2
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comtypes
contourpy
cryptography
cycler
darr
decorator
dill
distro
Everything-Tkinter
executing
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
google-trans-new
googleapis-common-protos
googletrans
grpcio
guidata
guiqwt
h11
h2
h5py
hpack
hstspreload
httpcore
httplib2
httpx
huggingface-hub
hyperframe
idna
importlib_metadata
intel-openmp
ipython
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keras
kiwisolver
langdetect
langsmith
libclang
litellm
lxml
Markdown
markdown-it-py
MarkupSafe
mdurl
mkl
ml-dtypes
mpmath
msgpack
mtranslate
multidict
multiprocess
namex
ndindex
networkx
nltk
numexpr
ollama
omegaconf
openai
opt-einsum
optree
orjson
outcome
packaging
pandas
parso
pathos
patsy
pillow
pip
playsound
pocketsphinx
pox
ppft
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
py-cpuinfo
pyasn1
pyasn1_modules
PyAudio
pycaw
pycparser
pydantic
pydantic_core
pydub
PyExecJS
pygame
Pygments
pyparsing
pypiwin32
PySocks
python-dateutil
python-dotenv
python_speech_features
PythonQwt
pytz
pywin32
PyYAML
QtPy
referencing
regex
requests
requests-toolbelt
rfc3986
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
selenium
setuptools
silero
six
sklearn-linear-model-modification
sniffio
sortedcontainers
sounddevice
soundfile
soupsieve
srt
stack-data
statsmodels
sympy
tables
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
threadpoolctl
tiktoken
tokenizers
tomli
torch
torchaudio
torchvision
tqdm
traitlets
transformers
translators
trio
trio-websocket
typing_extensions
tzdata
uritemplate
urllib3
vosk
wcwidth
webdriver-manager
websocket-client
websockets
Werkzeug
wheel
wrapt
wsproto
yarl
zipp
pynput
keyboard
deep-translator
telebot
